<ion-content>
  <ion-grid class="no-pad">
    <ion-row class="justify-content-center">
      <ion-col size-md="6" size-lg="5" size-xs="12" class="align-self-center no-pad">
        <div class="back-bg">
          <a routerLink="/home" class="back"><img src="/assets/images/back.png" alt=""></a>
          <h2> Enquiry</h2>
        </div>

        <div class="sing-frm">
          <ion-input type="text" [(ngModel)]="name" class="info-frm" id="name" placeholder="Name"></ion-input>
          
          <!-- <ion-input type="text" [(ngModel)]="mobile_no" class="info-frm" id="mobile_no" placeholder="Mobile Number"></ion-input> -->

          <ion-input type="email" [(ngModel)]="email" class="info-frm" id="email" placeholder="Email"></ion-input>
          
          <ion-input type="text" [(ngModel)]="subject" class="info-frm" id="subject" placeholder="Subject (Invoice No)" ></ion-input>

          <ion-textarea [(ngModel)]="message" rows="3" class="info-frm" id="message" placeholder="Message"></ion-textarea>
        </div>

        <div class="sign-box">
          <button type="button" (click)="onSubmit()" size="large" expand="block" class="btn sing-btn">Submit</button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="overlay_loader" *ngIf="showLoader">
  <div class="vertical-align-wrap2">
    <div class="vertical-align vertical-align--middle">
      <img src="/assets/spinner.gif" alt="" >
    </div>
  </div>
</div>

<div class="overlay_alert" *ngIf="showErrorAlert">
  <div class="vertical-align-wrap1">
    <div class="vertical-align vertical-align--middle">
      <div class="alert alert-danger">
        <strong>ERROR!</strong> {{ error_message }}
        <button type="button" (click)="hideErrorAlert()" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="overlay_alert" *ngIf="showInfoAlert">
  <div class="vertical-align-wrap1">
    <div class="vertical-align vertical-align--middle">
      <div class="alert alert-primary">
        {{ info_message }}
        <button type="button" (click)="hideInfoAlert()" class="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
  