<ion-content>
  <ion-grid class="no-pad">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="no-pad">
        <div class="back-bg">
          <a routerLink="/home" class="back"><img src="/assets/images/back.png" alt=""></a>
          <div class="sing-text">
            <img src="/assets/images/order-cart.png" alt="">
            <h3>No products available <br>in our stock.</h3>
          </div>
        </div> 

        <!-- <div class="sing-frm">
          <h2>No products available in our stock.</h2>
        </div>  -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
