<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-content>
        
        <ion-menu-toggle auto-hide="false" >
          <div class="user-details">
            <!-- <span class="cross" (click)="hideMenu()"><i class="fa fa-times-circle"></i></span> -->
            <img src="{{ user_profile_image }}" alt="" />
            <h4>{{ user_username }}</h4>
            <p><!-- This p tag is needed for design purpose --></p>
  
            <ul class="manu-link">
              <li *ngFor="let p of appPages">
                <span (click)="movePage(p.url)"> {{p.title}}</span>
              </li>
              
              <li></li>
              <li></li>
              <li (click)="signOut()">Sign Out</li>
            </ul>
          </div>
          
        </ion-menu-toggle>
      
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
