.manu-bar{
    // background: #eb1d23;
    height: 100%;
    padding: 30px 20px;
}

// .user-details{
//     height: 100% !important;
//     padding-top: 54px;
//     padding-left: 54px;
//     width: 100%;
//     // background: #eb1d23;
//     background-image: url("/assets/images/header-back-img.png");
//     background-position: top;
//     background-size: cover;
//     text-align: left !important;
//     color: #fff;
// }
// .user-details img{
//     width: 30%;
// }

// .manu-link{
//     list-style: none;
//     padding: 0;
//     margin: 0;
// }

// .manu-link li{
//     font-size: 18px;
//     padding-bottom: 20px;
// }
// .manu-link li a{
//     color: #fff;
// }

// .user-details p{
//     padding-bottom: 30px;
// }

.toolbar-container{
    height: 220px!important;
}
.header-ios ion-toolbar:last-child {
    --border-width: 0!important;
}
.icon-inner, svg {
    display: none!important;
    
}
.ion-content, svg{
    display: none!important;
}
.overscroll{ background:#eb1d23 !important;}
.icon-inner svg{ display: none !important;}

//--- For cross button - 11-10-2019
.cross{
    position: absolute;
    float: right;
    right: 20px;
    top: 17px;
    font-size: 30px;
}