<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-content>
        
        <ion-menu-toggle auto-hide="true" >
          <div class="user-details">
            <!-- <span class="cross" (click)="hideMenu()"><i class="fa fa-times-circle"></i></span> -->
            <img src="{{ user_profile_image }}" alt="" />
            <h4>{{ user_name }}</h4>
            <p>{{ user_email }}</p>
  
            <ul class="manu-link">
              <!-- <li *ngFor="let p of appPages">
                <span [routerLink]="[p.url]"> {{p.title}}</span>
                <span (click)="movePage(p.url)"> {{p.title}}</span>
              </li> -->
              <li (click)="moveHome()">Home</li>
              <li (click)="moveNotifications()">Notifications</li>
              <li (click)="moveOrderReceive()">Order Receive</li>
              <li (click)="moveEnquiry()">Enquiry</li>
              
              <li></li>
              <li></li>
              <li (click)="signOut()">Sign Out</li>
            </ul>
          </div>
          
        </ion-menu-toggle>
      
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
    <!-- <app-footer *ngIf="showFooter"></app-footer> -->
  </ion-split-pane>
</ion-app>
