<ion-content>
  <ion-grid class="no-pad">
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12" class="no-pad">
        <div class="back-bg">
          <a routerLink="/home" class="back"><img src="/assets/images/back.png" alt=""></a>
          <h2> Notifications</h2>
        </div>

        <div class="back-body">
          <div *ngFor="let offer of offers;" [ngClass]="offer.IsActive == 'Y' ? 'offer-sec' : ''">
            <div *ngIf="offer.IsActive == 'Y'" (click)="moveOfferProductList(offer.ID, offer.ImgPath)">
              <h4>{{ offer.OfferName }}</h4>
              <p>{{ offer.OfferPercentage }}% off Great Saving Every Day</p>
            </div>
          </div>

          <!-- <div class="offer-sec">
            <h4>10% Offer...!</h4>
            <p>Get 20% offer on Household Needs. Hurry Limited period offer...</p>
            <img src="/assets/images/banner.png" alt="">
          </div> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
